/* Golden Ratio Typography  https://grtcalculator.com/ */
p, h1, h2, h3, h4, h5, h6 { width: 544px; }
p {
  font-size: 16px;
  line-height: 27px;
}
h1 {
  font-size: 42px;
  line-height: 64px;
}
h2 {
  font-size: 33px;
  line-height: 51px;
}
h3 {
  font-size: 26px;
  line-height: 41px;
}
h4 {
  font-size: 20px;
  line-height: 32px;
}
h5 {
  font-size: 16px;
  line-height: 27px;
  font-weight: bold;
}
h6 {
  font-size: 13px;
  line-height: 22px;
  font-weight: bold;
}